.jumbotron-makanan {
    background-image: url(/images/foto/foodpage.jpg);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: -130px;
}

.jumbotron-makanan p {
    font-size: 15px;
    font-weight: 200;
}

.jumbotron-makanan h1 {
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    margin-top: 200px;
    font-size: 50px;
    font-family: viga;
}

#gallery-food {
    padding-top: 120px;
}

#gallery-food .row > * {
    padding: 0;
}

.foodhead {
    font-weight: 200;
}

.foodhead::after {
    content: "";
    display: block;
    border-bottom: 2px solid black;
    width: 15%;
    margin: auto;
    padding: 10px;
}

.gallery-img-food {
    width: 100%;
    height: 200px;
}

.img-filter:hover {
    filter: opacity(70%);
}

.minuman-menu p {
    font-size: 15px;
}

.minuman-menu {
    padding: 20px;
    margin-bottom: 100px;
}

.text-scooter {
    font-weight: bold;
}

.footer-card {
    color: rgb(172, 171, 171);
}
