.background {
    background-image: url(/images/foto/drink/8.jpg);
}

.jumbotron-home {
    background-image: url(/images/foto/coffecover.jpg);
    width: fit-content;
}

.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 50px;
}

.logo img {
    width: 40px;
}

.about-scooter {
    font-weight: 200;
}

.about {
    font-family: viga;
}

.logo img:hover {
    filter: grayscale(20%);
}

.nav-link,
.navbar-brand {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-family: Viga;
    font-size: 10px;
}
.nav-link:hover,
.navbar-brand:hover {
    color: rgb(119, 122, 131);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.nav-focus:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid black;
    width: 30%;
    margin: auto;
    margin-bottom: -3px;
}

.jumbotron-home h1 {
    font-size: 10px;
}

.jumbotron-home p {
    font-weight: bold;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
}

#about::before {
    content: "";
    display: block;
    border-top: 3px solid black;
    width: 5%;
    margin: auto;
}

#backfoto {
    filter: brightness(50%);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
}
#contentfoto {
    position: relative;
}

#contentfoto span {
    font-weight: 500;
}

.text-line {
    border-bottom: 2px solid white;
    font-size: 25px;
}

.show-menu {
    margin-top: 50px;
}

.show-menu img {
    width: 600px;
    margin: auto;
}

.show-menu p {
    font-weight: 200;
    margin-top: 20px;
    font-size: 15px;
}
.show-menu h3 {
    font-weight: 700;
    margin-top: 30px;
    margin-left: 50px;
}

.show-menu-2 {
    margin-top: 100px;
}

.show-menu-2 img {
    height: 450px;
}

.form-pic {
    display: none;
}

.section-about h1 {
    font-size: 20px;
    margin-top: 30px;
}

.section-about p {
    font-size: 12px;
}

@media (min-width: 992px) {
    .centered {
        font-size: 70px;
    }
    .show-menu p {
        margin-top: 50px;
        font-size: 20px;
        margin-left: 50px;
    }

    .show-menu img {
        width: 600px;
    }

    .nav-link,
    .navbar-brand {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        font-family: Viga;
        font-size: 15px;
        margin-left: 5px;
    }

    .jumbotron-home {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-image: url(/images/foto/coffecover.jpg);
        background-size: cover;
        height: 670px;
        margin-top: -100px;
    }

    .form-pic {
        display: flex;
    }

    .jumbotron-home h1 {
        font-weight: 300;
        margin-top: 150px;
    }

    .jumbotron-home p {
        font-size: 30px;
    }
    .text-line {
        font-size: 65px;
    }

    .text-line::after {
        content: "";
        display: block;
        border-bottom: 2px solid white;
        width: 50%;
        margin: auto;
    }

    .show-menu-2 img {
        height: 600px;
    }

    .show-menu-2 p {
        margin-right: 50px;
    }

    .section-about h1 {
        font-size: 30px;
        margin-top: 30px;
    }

    .section-about p {
        font-size: 20px;
    }
}

@media (min-width: 500px) {
    .section-about video {
        width: 500px;
    }

    .jumbotron-home {
        height: 500px;
    }

    .logo {
        display: none;
    }

    .show-menu h3::after {
        border-bottom: 1px solid black;
        display: block;
        content: "";
        width: 50%;
        margin: auto;
        padding: 2px;
    }
}
